.containers {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  } */
  
  .centered {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-40%, -40%);
  }
  
  